input,button,select,textarea{outline:none}
.navicon{
  cursor: pointer;
  z-index:100001;
}
.nav-button__open {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 24px;
  height: 27px;
  margin: 0;
  padding: 0;
  font-size: 0;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  text-indent: -9999px;
  background: transparent;
  transition: all 0.375s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
.nav-button__line {
  position: relative;
  display: block;
  background: #b3b3bc;
  width: 24px;
  height: 2px;
  margin: 0 0 7px;
  padding: 0;
  z-index: 6;
}
.nav-mobile--is-open .nav-mobile--right {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.nav-mobile--right {
    -webkit-transform: translate3d(256px, 0, 0);
    -moz-transform: translate3d(256px, 0, 0);
    -ms-transform: translate3d(256px, 0, 0);
    -o-transform: translate3d(256px, 0, 0);
    /* transform: translate3d(256px, 0, 0); */
}
.nav-mobile {
    position: fixed;
    width: 256px;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 24px 32px;
    background-color: #23232D;
    backface-visibility: hidden;
    overflow-x: auto;
    z-index: 6;
    -webkit-transition: all 0.375s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    -moz-transition: all 0.375s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    -ms-transition: all 0.375s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    -o-transition: all 0.375s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    transition: all 0.375s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.show-menu {    
  -webkit-transform: translate3d(-256px, 0, 0);
  -moz-transform: translate3d(-256px, 0, 0);
  -ms-transform: translate3d(-256px, 0, 0);
  -o-transform: translate3d(-256px, 0, 0);
  transform: translate3d(-256px, 0, 0);
  opacity: 0.5;
  overflow-y: hidden;
}

.nav-mobile__logo {
  color: #6C6C8C;
  letter-spacing: 0.025em;
  font-weight: 300;
  font-size: 26px;
  font-size: 1.625rem;
  font-family: "Akzidenz Grotesk", "aktiv-grotesk", "Aktiv Grotesk", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bolder;
}

.menu-wrap{
  position: absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  overflow-y: auto;
  -webkit-transition: all 0.375s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -moz-transition: all 0.375s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -ms-transition: all 0.375s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: all 0.375s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: all 0.375s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.nav-mobile__list {
  padding:0px;
  list-style: none;
  margin-top: 48px;
}

.button-small {
  padding: 1em 2.25em 1em;
  font-size: 12px;
  font-size: 0.75rem;
}

.sign-button {
  display: inline-block;
  color: #ffffff;
  background-color: #5A5A8C;
  font-weight: 700;
  border: 1px solid #5A5A8C;
  border-radius: 1px;
  font-size:1.3rem;
}

.sign-button:hover,.nav-mobile__link-primary:hover{
  color:#fff;
  text-decoration: none;
}

.nav-mobile__link-primary {
  color: #ffffff;
  letter-spacing: 0.025em;
  font-weight: 300;
  font-size: 21px;
  font-size: 1.6rem;
}

.popup{
  position: absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  background: #000;
  z-index:5;
  opacity:.6;
}













